<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Post</title>
        <link rel="stylesheet" href="styles/styling.css">
    </head>
    <body>
    <div class="container">
        <div>
            <h1 class="idea"><strong><i>Describe your idea!</i></strong></h1>
            <p class="text">The Users will know about your unique idea </p>
        </div>
        <div id="Title_box">
            <form method="get"><i>Title:</i> &nbsp;&nbsp;&nbsp;  
            <input type="text" class="Title">
            </form>
        </div>
        <div id="Description_box">
            <p id="textbox"><i>Description:</i></p>
            <form method="get">&nbsp;&nbsp;
            <textarea rows="8" cols="61" id="Description" name="Description"></textarea>
            </form>
        </div>
        <div id="PinProfile">
            <label>&nbsp;Pin your profile : 
                <input type="checkbox" checked="checked" id="checkbox">
            </label>
            <input type="submit" value="Share my idea" id="submit">
        </div>
    </div>
            </body>
</html>