<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="assets/create-profile.js" type="text/javascript"></script>
    <title>Create Profile</title>
</head>
<body>
    <form id="create-profile">
        <div class="container" id="name-box">
            <input placeholder="First Name" id="first-name" type="text" />
            <input placeholder="Last Name" id="last-name" type="text" />
        </div>
        <div class="container" id="username-box">
            <input placeholder="Username" id="username" type="text" />
        </div>
        <div class="container" id="password-box">
            <input placeholder="Password" id="password" type="password" /><br />
            <input placeholder="Repeat Password" id="password" type="password" />
        </div>
        <div class="container" id="contact-box">
            <input placeholder="Email Id" id="email-id" type="text"/><br />
            <input placeholder="Linkedin" id="linkedin" type="text"/><br />
            <input placeholder="Facebook" id="facebook" type="text"/>
        </div>
        <div id="submit-box">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>